body {
    background: linear-gradient(90deg, rgba(6, 67, 97, 1) 0%, rgba(114, 172, 200, 1) 43%);
    color: white;
}

.navbar {
    margin-bottom: 50px;
    background-color: #064361;

}

.nav-link {
    color: white;
}

.card {
    background: linear-gradient(90deg, rgba(6, 67, 97, 1) 0%, rgba(23, 119, 167, 1) 43%);

    width: 18rem;
    border: 0px;
    text-align: center;

}

.list-group-item {
    border: 0px;
    color: white;
}

.card li {
    background: linear-gradient(90deg, rgba(6, 67, 97, 1) 0%, rgba(23, 119, 167, 1) 43%);

}

h1,
h2 {
    text-align: center;
}

footer {
    height: 80px;
    background-color: #064361;
}

footer span{
    margin-left: 3px;
}

@media (max-width:991px){
    .card{max-width: 11rem;}
}
@media (max-width:768px){
    .card{max-width: 11rem;}
}

@media (max-width:567px){
    .card{max-width: 10rem;}
    .card h5{
        font-size: small;
    }
}